#navbarNav.nav-item.nav-link a:hover{
    color: red;
  }
  #header-nav{
    height: 14vh !important;
  }
  .nav-link:hover{
    color: red !important;
  }
  .nav-link{
    color: white !important;
  }
  .container-fluid{
    display: flex;
  }
  #header-nav .nav-link a:hover{
    color: red;
  }
  nav{
    display: flex;
  }